[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
requests-mock = "*"

[packages]
lxml = "*"
xxhash = "*"
click = "*"
defusedxml = "*"
requests = "*"

[scripts]
test = "py.test --cov-report=xml --cov=ocopy -v"
